<configuration>
  <configSections>
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    <section name="exceptionHandling" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Configuration.ExceptionHandlingSettings, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
  </configSections>
  <loggingConfiguration name="Logging Application Block" tracingEnabled="true"
    defaultCategory="General" logWarningsWhenNoCategoriesMatch="true">
    <listeners>
      <add source="Enterprise Library Logging" formatter="Text Formatter"
        log="Application" machineName="" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FormattedEventLogTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        traceOutputOptions="None" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FormattedEventLogTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        name="Formatted EventLog TraceListener" />
    </listeners>
    <formatters>
      <add template="Timestamp: {timestamp}&#xD;&#xA;Message: {message}&#xD;&#xA;Category: {category}&#xD;&#xA;Priority: {priority}&#xD;&#xA;EventId: {eventid}&#xD;&#xA;Severity: {severity}&#xD;&#xA;Title:{title}&#xD;&#xA;Machine: {machine}&#xD;&#xA;Application Domain: {appDomain}&#xD;&#xA;Process Id: {processId}&#xD;&#xA;Process Name: {processName}&#xD;&#xA;Win32 Thread Id: {win32ThreadId}&#xD;&#xA;Thread Name: {threadName}&#xD;&#xA;Extended Properties: {dictionary({key} - {value}&#xD;&#xA;)}"
        type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        name="Text Formatter" />
    </formatters>
    <categorySources>
      <add switchValue="All" name="General">
        <listeners>
          <add name="Formatted EventLog TraceListener" />
        </listeners>
      </add>
    </categorySources>
    <specialSources>
      <allEvents switchValue="All" name="All Events" />
      <notProcessed switchValue="All" name="Unprocessed Category" />
      <errors switchValue="All" name="Logging Errors &amp; Warnings">
        <listeners>
          <add name="Formatted EventLog TraceListener" />
        </listeners>
      </errors>
    </specialSources>
  </loggingConfiguration>
  <exceptionHandling>
    <exceptionPolicies>
      <add name="Global Policy">
        <exceptionTypes>
          <add type="System.Exception, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
            postHandlingAction="NotifyRethrow" name="Exception">
            <exceptionHandlers>
              <add logCategory="General" eventId="100" severity="Error" title="Enterprise Library Exception Handling"
                formatterType="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.TextExceptionFormatter, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
                priority="0" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging.LoggingExceptionHandler, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
                name="Logging Handler" />
              <add type="SPISA.Libreria.ExceptionEmailHandler, SPISA.Libreria, Version=1.2.0.0, Culture=neutral, PublicKeyToken=c816bc9b997df520"
                 name="Custom Handler" />
            </exceptionHandlers>
          </add>
        </exceptionTypes>
      </add>
    </exceptionPolicies>
  </exceptionHandling>
  <dataConfiguration defaultDatabase="SPISA" />
  <connectionStrings>
    <add name="EntitiesModelCS" connectionString="metadata=.\SPISAEntitiesModel.csdl|.\SPISAEntitiesModel.ssdl|.\SPISAEntitiesModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=(local)\sqlexpress;Initial Catalog=SPISA;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
	  <add name="SPISA" connectionString="Data Source = localhost\sqlexpress; Initial Catalog= SPISA; Integrated Security = SSPI; Connection Timeout=60; Trusted_Connection=yes"
      providerName="System.Data.SqlClient" />
     <!--<<add name="SPISA" connectionString="Data Source = (local)\Gladys-pc; Initial Catalog= SPISA; Integrated Security = SSPI; Connection Timeout=60; Trusted_Connection=yes"
      providerName="System.Data.SqlClient" />-->
	  <!--<add name="SPISA" connectionString="Data Source = (local)\sqlexpress; Initial Catalog	= SPISA_Test; User Id=sa; Password=capn1984 "
      providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly xmlns="">
        <assemblyIdentity name="Microsoft.Ink" publicKeyToken="31BF3856AD364E35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.7.2600.2180" newVersion="1.7.2600.2180" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>

    <add key ="FactoryClass" value="DaoFactory"/>
    <!-- Listado Pedidos -->
    <add key="ColorNoModificable" value="PaleGoldenrod"/>
    <!-- Facturas -->
    
    <add key="FacturaObjectsToPrintXmlFile" value=""/>
    <add key="NumeroDeCopiasFactura" value="3"/>
    <add key="Facturas_ColorStockCritico" value ="PaleGoldenrod"/>
    <add key="ControlStock" value="true"/>

    <!-- Pedidos -->
    <add key="Pedidos_ColorStockCritico" value="PaleGoldenrod"/>

    <!-- Remitos -->
    <add key="NumeroDeCopiasRemito" value="2"/>
    <add key="Remitos_ColorStockCritico" value="PaleGoldenrod"/>

    <!-- Logging -->
    <add key="LogActivities" value="true"/>
    <add key="LogsDir" value ="Logs"/>
    <add key="LogFileName" value="Log.txt"/>
    
    <!-- General -->
    <add key="ModoPrueba" value ="false"/>

    <!-- Cantidad de items que se van a mostrar en el formulario de Pedidos y Facturas-->
    <add key="CantidadDeItems" value="40"/>
    <add key="SendErrorsByMail" value="true"/>

    <!--
      0 - No Informar ni Prevenir
      1 - Preguntar
      2 - Prohibir
    -->
    <add key="StockCritico" value="1"/>

    <add key="ValorDolar" value="3.05"/>

    <add key="CantidadCentesimosAlDolar" value="3"/>
   </appSettings>
 </configuration>

