<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>

  <appSettings>
    <add key="ContextManagerType" value="Gestioname.Framework.ObjectContextManager.ScopedObjectContextManager"/>
  </appSettings>

  <connectionStrings>
    <add name="GestionameContext" connectionString="metadata=res://*/Model.GestionameContext.csdl|res://*/Model.GestionameContext.ssdl|res://*/Model.GestionameContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=127.0.0.1;Initial Catalog=Gestioname;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="MySqlContext" connectionString="metadata=res://*/Model.MySqlContext.csdl|res://*/Model.MySqlContext.ssdl|res://*/Model.MySqlContext.msl;provider=Devart.Data.MySql;provider connection string=&quot;User Id=root;Password=capn1984;Host=localhost;Database=gestioname;Persist Security Info=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  
</configuration>
